<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArithmeticConversions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Array1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Array2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Array3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Array4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>ArrayClassMember1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>ArrayOfCStrings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>ArrayOfStruct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>AssemblyCMP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>CString1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>CString2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>CStringClass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>CStringClassMember.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>CStringCopy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Circles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ConstCast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>ConstMemberFunc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>ConstObj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Ctor1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Ctor2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>DefCopyCtor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Distance1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Distance2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Distance3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Dtor1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>FloatVsDouble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>FloatingPoint1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>HorseRace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Linked List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MasterC++.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NickGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ObjAsFuncArg1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>OperatorOverloading1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>OperatorOverloading2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>OperatorOverloading3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>OperatorOverloading4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>Parser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ParserMix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ParserStack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PersonSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PointerToPointer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Precision1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>Queue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Reference1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Reference2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>ReturnObj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>SimpleClass1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Stack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Stack1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Stack2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>StaticCast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>StaticData1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>String1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>String2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>String3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>String4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>StringClass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Structure1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>TypeCasting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF08C3991F79FF6F002848CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08C3A41F7A0892002848CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08C3AF1F7A1E97002848CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08C3BA1F7A2A44002848CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08C3C51F7A2E1A002848CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08C3D01F7A4D64002848CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08C3DB1F7A790B002848CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08C3E61F7B51F9002848CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF08C3F11F7B5AFA002848CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF4643EE1EC1B68800A492C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF4643F91F4D43E900A492C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF4EB8AC1F795B570001805E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF4EB8B71F79FA370001805E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2EDA1F7D2EEF004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2EE51F7DF2F7004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2EF01F7E68F7004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2EFB1F80CADB004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F061F847572004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F111F84D6AA004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F1C1F85CF8F004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F271F85DF78004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F321F860655004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F3D1F860C34004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F481F8613BB004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F541F870A59004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F5F1F874B85004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F6A1F875DC3004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F751F887417004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F801F888B83004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F8B1F8896E2004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2F961F8A0392004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2FA11F8A0790004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2FAC1F8B3A9D004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2FB71F8B46E0004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2FC21F8CCA77004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2FCD1F8CDDAA004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2FD81F8DB0A5004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2FE31F8DB71F004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2FEE1F8DB7A8004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F2FF91F8DFAF6004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F30041F8EF086004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F300F1F8F49D3004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F301A1F8F5B13004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F30251F8F82B9004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F30301F8F98DC004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F303B1F91A043004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F30461F91E0A9004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F30511F9337D5004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F305C1F944E41004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F30671F94815C004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9F30721F9491FB004C54A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA4869C1EB7572B00D744B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA486A71EB775FE00D744B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA486DB1EBC464900D744B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFA486E61EBC9B8000D744B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDE73E41F7CA5EB00841542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE2D37C1EB515EB00407470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE2D38A1EB5166E00407470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE2D3951EB5E6BC00407470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE2D3A01EB60AF900407470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE2D3AB1EB6291C00407470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFE2D3B61EB634CA00407470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
